@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
  font-family: "NanumBarunGothic";
}

a {
  text-decoration: none;
  color: black;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "NanumBarunGothic";
}

#wrap {
  width: 100%;
  height: auto;
}

header {
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(46, 46, 46, 0.09);
          box-shadow: 0px 2px 2px 0px rgba(46, 46, 46, 0.09);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 500;
}

header .logo {
  width: auto;
  height: 45px;
  margin-left: 2%;
}

header .logo a img {
  width: auto;
  height: 100%;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
}

header .menu li {
  position: relative;
  font-size: 18px;
}

header .menu li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header .menu li:hover::after {
  border-bottom: 3px solid black;
}

header .login {
  margin-right: 2%;
  font-size: 18px;
  font-family: "NanumBarunGothic";
  background-color: #333;
  width: 100px;
  text-align: center;
  color: white;
  border-radius: 30px;
  line-height: 40px;
}

#book_bg {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  position: relative;
}

.bg_slide {
  width: 300%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  left: 0;
}

.bg_slide .bg_box {
  width: 100vw;
  height: 100%;
  position: relative;
}

.bg_slide h1 {
  font-size: 150px;
}

.bg1 img {
  width: 100%;
  height: 163%;
  margin-top: -5%;
}

.bg2 img {
  position: absolute;
  width: 60vw;
  bottom: 0;
  right: 0;
  height: auto;
}

.bg3 img {
  width: 50vw;
  position: absolute;
  right: 5%;
  bottom: 0;
}

.bg_key {
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  padding: 0 3%;
}

.bg_key div {
  width: 60px;
  height: 10px;
  border-bottom: 3px solid black;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bg_key .bg_next:hover {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.bg_key .bg_prev:hover {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

#new_book {
  width: 100%;
  height: 100vh;
  background-image: url(../img/main/new.jpg);
  background-size: cover;
  background-position: center;
}

#new_book .new_txt {
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 70px;
}

#new_book .new_txt h2 {
  font-size: 50px;
  font-family: "NanumBarunGothic";
}

#new_book .new_txt h4 {
  font-size: 30px;
  margin-top: 1.2%;
  font-family: "NanumBarunGothic";
  font-weight: 500;
}

.new_book_box {
  width: 100%;
  height: 80vh;
  padding-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.new_book_box .new_box {
  width: 20%;
  margin: 0 2%;
  height: 45%;
  background-color: white;
  -webkit-box-shadow: 5px 5px 2px 3px rgba(46, 46, 46, 0.09);
          box-shadow: 5px 5px 2px 3px rgba(46, 46, 46, 0.09);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1%;
}

.new_book_box .new_box .img_box {
  width: 47%;
  cursor: pointer;
}

.new_book_box .new_box .img_box h3 {
  font-size: 12px;
  font-family: "NanumBarunGothic";
  text-align: center;
  width: auto;
  height: 20px;
  margin-top: 11px;
}

.new_book_box .new_box .txt_box {
  width: 47%;
  height: 90%;
  padding-left: 3%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
}

.new_book_box .new_box .txt_box h3 {
  font-size: 14px;
  font-family: "NanumBarunGothic";
}

.new_book_box .new_box .txt_box h5 {
  font-size: 12px;
  font-family: "NanumBarunGothic";
}

.new_book_box .new_box .txt_box p {
  font-size: 10px;
  font-family: "NanumBarunGothic";
  letter-spacing: 1.2px;
  line-height: 14px;
}

.new_book_box .new_box .txt_box .btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: #333;
  border-radius: 30px;
  width: 60px;
  color: white;
  text-align: center;
  line-height: 25px;
  font-size: 13px;
  font-family: "NanumBarunGothic";
}

.new_book_box .new_box img {
  width: 100%;
  height: auto;
  text-align: center;
  -webkit-box-shadow: 5px 5px 2px 3px rgba(46, 46, 46, 0.09);
          box-shadow: 5px 5px 2px 3px rgba(46, 46, 46, 0.09);
}

#best {
  width: 100%;
  height: 1115px;
  background-image: url(../img/main/best.jpg);
  background-size: cover;
  background-position: center;
}

#best .best_txt {
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 70px;
}

#best .best_txt h2 {
  font-size: 50px;
  margin-top: 1.2%;
  font-family: "NanumBarunGothic";
}

#best .best_txt h4 {
  font-size: 30px;
  font-weight: 500;
  font-family: "NanumBarunGothic";
}

.category {
  width: 90%;
  height: auto;
  margin: 5% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.category li {
  border: 3px solid black;
  padding: 18px 55px;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.category li:hover {
  background-color: #333;
  color: white;
}

.category li.col {
  background-color: #333;
  color: white;
}

.best_wrap {
  position: relative;
}

.essay {
  width: 90%;
  height: 55vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  top: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  opacity: 1;
}

.essay .essay_box {
  width: 23%;
  height: 100%;
  background-color: white;
  -webkit-box-shadow: 5px 5px 2px 3px rgba(46, 46, 46, 0.09);
          box-shadow: 5px 5px 2px 3px rgba(46, 46, 46, 0.09);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.essay .essay_box img {
  width: 160px;
  margin: 25px;
}

.essay .essay_box p {
  font-size: 13px;
  padding: 3% 6%;
  line-height: 19px;
  text-align: left;
}

.essay .essay_box .btn {
  font-size: 12px;
  display: inline-block;
  padding: 2% 0;
  color: white;
  border-radius: 30px;
  width: 100px;
  background-color: #333;
}

.novel {
  width: 90%;
  height: 55vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  top: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
}

.novel .novel_box {
  width: 23%;
  height: 100%;
  background-color: white;
  -webkit-box-shadow: 5px 5px 2px 3px rgba(46, 46, 46, 0.09);
          box-shadow: 5px 5px 2px 3px rgba(46, 46, 46, 0.09);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.novel .novel_box img {
  width: 160px;
  margin-top: 40px;
}

.novel .novel_box p {
  font-size: 13px;
  padding: 3% 6%;
  line-height: 19px;
  text-align: left;
}

.novel .novel_box .btn {
  font-size: 12px;
  display: inline-block;
  padding: 2% 0;
  color: white;
  border-radius: 30px;
  width: 100px;
  background-color: #333;
}

.poem {
  width: 90%;
  height: 55vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  top: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
}

.poem .poem_box {
  width: 23%;
  height: 100%;
  background-color: white;
  -webkit-box-shadow: 5px 5px 2px 3px rgba(46, 46, 46, 0.09);
          box-shadow: 5px 5px 2px 3px rgba(46, 46, 46, 0.09);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.poem .poem_box img {
  width: 160px;
  margin-top: 40px;
}

.poem .poem_box p {
  font-size: 13px;
  padding: 3% 6%;
  line-height: 19px;
  text-align: left;
}

.poem .poem_box .btn {
  font-size: 12px;
  display: inline-block;
  padding: 2% 0;
  color: white;
  border-radius: 30px;
  width: 100px;
  background-color: #333;
}

.audio {
  width: 90%;
  height: 55vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  top: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
}

.audio .audio_box {
  width: 23%;
  height: 100%;
  background-color: white;
  -webkit-box-shadow: 5px 5px 2px 3px rgba(46, 46, 46, 0.09);
          box-shadow: 5px 5px 2px 3px rgba(46, 46, 46, 0.09);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.audio .audio_box img {
  width: 160px;
  margin-top: 40px;
}

.audio .audio_box p {
  font-size: 13px;
  padding: 3% 6%;
  line-height: 19px;
  text-align: left;
}

.audio .audio_box .btn {
  font-size: 12px;
  display: inline-block;
  padding: 2% 0;
  color: white;
  border-radius: 30px;
  width: 100px;
  background-color: #333;
}

.enlightenment {
  width: 90%;
  height: 55vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  top: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
}

.enlightenment .enlightenment_box {
  width: 23%;
  height: 100%;
  background-color: white;
  -webkit-box-shadow: 5px 5px 2px 3px rgba(46, 46, 46, 0.09);
          box-shadow: 5px 5px 2px 3px rgba(46, 46, 46, 0.09);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.enlightenment .enlightenment_box img {
  width: 160px;
  margin-top: 40px;
}

.enlightenment .enlightenment_box p {
  font-size: 13px;
  padding: 3% 6%;
  line-height: 19px;
  text-align: left;
}

.enlightenment .enlightenment_box .btn {
  font-size: 12px;
  display: inline-block;
  padding: 2% 0;
  color: white;
  border-radius: 30px;
  width: 100px;
  background-color: #333;
}

.art {
  width: 90%;
  height: 55vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  top: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
}

.art .art_box {
  width: 23%;
  height: 100%;
  background-color: white;
  -webkit-box-shadow: 5px 5px 2px 3px rgba(46, 46, 46, 0.09);
          box-shadow: 5px 5px 2px 3px rgba(46, 46, 46, 0.09);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.art .art_box img {
  width: 160px;
  margin-top: 40px;
}

.art .art_box p {
  font-size: 13px;
  padding: 3% 6%;
  line-height: 19px;
  text-align: left;
}

.art .art_box .btn {
  font-size: 12px;
  display: inline-block;
  padding: 2% 0;
  color: white;
  border-radius: 30px;
  width: 100px;
  background-color: #333;
}

#genre {
  width: 100%;
  height: 878px;
  background-image: url(../img/main/genre.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

#genre .genre_txt {
  width: 45%;
  margin: 0 auto;
  text-align: right;
  padding-top: 120px;
}

#genre .genre_txt h4 {
  font-size: 18px;
  margin-bottom: 30px;
}

#genre .genre_txt h2 {
  font-size: 35px;
  margin-top: 20px;
}

#genre .key {
  width: 150px;
  position: absolute;
  top: 23%;
  right: 10%;
}

#genre .key span {
  font-size: 70px;
  font-family: "NanumBarunGothic";
  cursor: pointer;
}

#genre .key .prev {
  margin-right: 33%;
}

.slide_wrap {
  width: 100%;
  height: 500px;
  margin-top: 127px;
  overflow: hidden;
  position: relative;
}

.slide_wrap .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 160%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.slide_box {
  width: 20%;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide_box img {
  width: 160px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-box-shadow: 5px 5px 2px 3px rgba(46, 46, 46, 0.09);
          box-shadow: 5px 5px 2px 3px rgba(46, 46, 46, 0.09);
}

.slide_box img:hover {
  -webkit-transform: translateY(-33px);
          transform: translateY(-33px);
}

.slide_box .slide_txt {
  text-align: center;
}

.slide_box .slide_txt h3 {
  font-size: 17px;
}

.slide_box .slide_txt h5 {
  font-size: 14px;
  margin-top: 15px;
  color: #999;
}

#service {
  width: 100%;
  height: 500px;
  padding: 2.5% 0;
}

#service .service_inner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#service .service_inner .service_box {
  width: 33%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#service .service_inner .service_box:hover {
  color: red;
}

#service .service_inner .service_box:hover .plus {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: red;
}

#service .service_inner .service_box h2 {
  margin-top: 20%;
  font-size: 27px;
}

#service .service_inner .service_box h4 {
  margin-top: 10%;
}

#service .service_inner .plus {
  margin-top: 7%;
  font-size: 80px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.service_2 {
  border-left: 0.5px solid #333;
  border-right: 0.5px solid #333;
}

#online {
  background-image: url(../img/main/bg-books.jpeg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  position: relative;
}

.on_txt {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffff;
  text-align: center;
}

.on_txt ul {
  margin-top: 30px;
}

.on_txt ul li {
  line-height: 30px;
  font-size: 14px;
}

footer {
  width: 100%;
  height: 200px;
  background-color: #818181;
  padding: 1%;
}

footer a {
  color: white;
  font-family: "NanumBarunGothic";
}

footer .fot_logo a {
  font-size: 14px;
  line-height: 70px;
}

footer .more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

footer p {
  color: white;
  line-height: 50px;
  font-size: 11px;
}

.guide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.guide a {
  font-size: 11px;
}

.sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sns img {
  width: 50px;
  height: auto;
}

.sns .blog {
  width: 30px;
  height: auto;
}
