@charset "UTF-8";

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

$font: 'NanumBarunGothic';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul,
li {
    list-style: none;
    font-family: $font;
}

a {
    text-decoration: none;
    color: black;
}

h1, h2, h3, h4, h5, h6, p{
    font-family: $font;
}

#wrap {
    width: 100%;
    height: auto;
}

header {
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: #fff;
    box-shadow: 0px 2px 2px 0px rgba(46, 46, 46, 0.09);
    display: flex;
    justify-content: space-between;
    line-height: 80px;
    align-items: center;
    z-index: 500;
    .logo {
        width: auto;
        height: 45px;
        margin-left: 2%;

        a img {
            width: auto;
            height: 100%;
        }
    }

    .menu {
        display: flex;
        width: 50%;
        justify-content: space-evenly;
        cursor: pointer;

        li {
            font-size: 18px;
        }
    }

    .login {
        margin-right: 2%;
        font-size: 18px;
        font-family: $font;
        background-color: #333;
        width: 100px;
        text-align: center;
        color: white;
        border-radius: 30px;
        line-height: 40px;
    }
}

#book_bg {
    width: 100%;
    height: 525px;
}

#new_book {
    width: 100%;
    height: 100vh;
    background-image: url(../img/main/new.jpg);
    background-size: cover;
    background-position: center;

    .new_txt {
        width: 100%;
        height: auto;
        text-align: center;
        padding-top: 70px;

        h2 {
            font-size: 50px;
            font-family: $font;
        }

        h4 {
            font-size: 30px;
            margin-top: 1.2%;
            font-family: $font;
            font-weight: 500;
        }
    }
}

.new_book_box {
    width: 100%;
    height: 80vh;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-end;

    .new_box {
        width: 20%;
        margin: 0 2%;
        height: 45%;
        background-color: white;
        box-shadow: 5px 5px 2px 3px rgba(46, 46, 46, 0.09);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 1%;

        .img_box {
            width: 47%;
            cursor: pointer;
            h3 {
                font-size: 12px;
                font-family: $font;
                text-align: center;
                width: auto;
                height: 20px;
                margin-top: 11px;
            }
        }

        .txt_box {
            width: 47%;
            height: 90%;
            padding-left: 3%;
            display: none;
            flex-direction: column;
            justify-content: space-evenly;
            cursor: pointer;
            h3 {
                font-size: 14px;
                font-family: $font;
            }

            h5 {
                font-size: 12px;
                font-family: $font;
            }

            p {
                font-size: 10px;
                font-family: $font;
                letter-spacing: 1.2px;
                line-height: 14px;
            }

            .btn {
                align-self: flex-end;
                background-color: #333;
                border-radius: 30px;
                width: 60px;
                color: white;
                text-align: center;
                line-height: 25px;
                font-size: 13px;
                font-family: $font;
            }
        }

        img {
            width: 100%;
            height: auto;
            text-align: center;
            box-shadow: 5px 5px 2px 3px rgba(46, 46, 46, 0.09);
        }
    }
}

#best {
    width: 100%;
    height: 1115px;
    background-image: url(../img/main/best.jpg);
    background-size: cover;
    background-position: center;

    .best_txt {
        width: 100%;
        height: auto;
        text-align: center;
        padding-top: 70px;

        h2 {
            font-size: 50px;
            margin-top: 1.2%;
            font-family: $font;
        }

        h4 {
            font-size: 30px;
            font-weight: 500;
            font-family: $font;
        }
    }
}

.category {
    width: 90%;
    height: auto;
    margin: 5% auto;
    display: flex;
    justify-content: space-evenly;

    li {
        border: 3px solid black;
        padding: 18px 55px;
        font-size: 18px;
        border-radius: 30px;
        cursor: pointer;
        transition: 0.5s;
        &:hover{
            background-color: #333;
            color: white;
        }
    }
}


@mixin best_box {
    width: 90%;
    height:55vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    position: absolute;
    top: 0;
    transition: all 1s;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

@mixin best_box_inner {
    width: 23%;
    height: 100%;
    background-color: white;
    box-shadow: 5px 5px 2px 3px rgba(46, 46, 46, 0.09);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@mixin best_btn {
    font-size: 12px;
    display: inline-block;
    padding: 2% 0;
    color: white;
    border-radius: 30px;
    width: 100px;
    background-color: #333;
}

.col{
    background-color: #333;
    color: white;
}

.best_wrap{
    position: relative;
}

.essay{
    @include best_box;
    opacity: 1;
    .essay_box {
        @include best_box_inner;
        img{
            width: 160px;
            margin: 25px;
        }
        p{
            font-size: 13px;
            padding: 3% 6%;
            line-height: 19px;
            text-align: left;
        }
        .btn{
            @include best_btn;
            
        }
    }
}

.novel{
    @include best_box;
    .novel_box {
        @include best_box_inner;
        img{
            width: 160px;
            margin-top: 40px;
        }
        p{
            font-size: 13px;
            padding: 3% 6%;
            line-height: 19px;
            text-align: left;
        }
        .btn{
            @include best_btn;
        }
    }
}

.poem{
    @include best_box;
    .poem_box {
        @include best_box_inner;
        img{
            width: 160px;
            margin-top: 40px;
        }
        p{
            font-size: 13px;
            padding: 3% 6%;
            line-height: 19px;
            text-align: left;
        }
        .btn{
            @include best_btn;
        }
    }
}

.audio{
    @include best_box;
    .audio_box {
        @include best_box_inner;
        img{
            width: 160px;
            margin-top: 40px;
        }
        p{
            font-size: 13px;
            padding: 3% 6%;
            line-height: 19px;
            text-align: left;
        }
        .btn{
            @include best_btn;
        }
    }
}

.enlightenment{
    @include best_box;
    .enlightenment_box {
        @include best_box_inner;
        img{
            width: 160px;
            margin-top: 40px;
        }
        p{
            font-size: 13px;
            padding: 3% 6%;
            line-height: 19px;
            text-align: left;
        }
        .btn{
            @include best_btn;
        }
    }
}

.art{
    @include best_box;
    .art_box {
        @include best_box_inner;
        img{
            width: 160px;
            margin-top: 40px;
        }
        p{
            font-size: 13px;
            padding: 3% 6%;
            line-height: 19px;
            text-align: left;
        }
        .btn{
            @include best_btn;
        }
    }
}

#genre {
    width: 100%;
    height: 878px;
    background-image: url(../img/main/genre.jpg);
    background-size: cover;
    background-position: center;

    .genre_txt{
        width: 55%;
        margin: 0 auto;
        text-align: right;
        padding-top: 30px;
        h4{
            font-size: 18px;
            margin-bottom: 45px;
        }
        h2{
            font-size: 35px;
            margin-top: 15px;
        }

    }
}

.slide_wrap{
    width: 100%;
    height: 600px;
    margin-top: 50px;
    overflow: hidden;
    position: relative;
        .slide{
            position: absolute;
            top: 0;
            left: 0;
            width: 160%;
            display: flex;
            flex-wrap: nowrap;
            .slide_box{
                width: 20%;
                height: 600px;
                border: 1px black solid;
            }
        }
}

#service {
    width: 100%;
    height: 417px;
}

footer {
    width: 100%;
    height: 200px;
    border: 1px solid black;
}
